/* 
    General Styles used on every website (Don't Repeat Yourself)
*/


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@700&family=Playpen+Sans:wght@300&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

.body {
    font-family: 'Playpen Sans', sans-serif;
    font-size: 14px;    
  }

.btn {
    color: #fff;
    background-color: #6F4366;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transition: color 0.3s ease;
}

.btn:hover {
    background-color: #C75770;
}



